@font-face {
    font-family: 'robotoblack';
    src: url('../font/roboto/Roboto-Black-webfont.eot');
    src: url('../font/roboto/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto/Roboto-Black-webfont.woff') format('woff'),
         url('../font/roboto/Roboto-Black-webfont.ttf') format('truetype'),
         url('../font/roboto/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('../font/roboto/Roboto-Light-webfont.eot');
    src: url('../font/roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/roboto/Roboto-Light-webfont.woff') format('woff'),
    url('../font/roboto/Roboto-Light-webfont.ttf') format('truetype'),
    url('../font/roboto/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../font/roboto/Roboto-Regular-webfont.eot');
    src: url('../font/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/roboto/Roboto-Regular-webfont.woff') format('woff'),
    url('../font/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
    url('../font/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('../font/roboto/Roboto-Bold-webfont.eot');
    src: url('../font/roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/roboto/Roboto-Bold-webfont.woff') format('woff'),
    url('../font/roboto/Roboto-Bold-webfont.ttf') format('truetype'),
    url('../font/roboto/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

