$page-background: radial-gradient(ellipse at center, #707070 0%, #000000 99%);

$another-background-color: #d40055;
$another-text-color: #ffffff;
$another-active-background-color: #a3d2e7;

$callme-text-color: #ffffff;
